/* Defina uma fonte atraente para o nome do Disk Bebidas */
h1 {
    font-family: Arial, sans-serif;
    text-align: center;
    color: #33030f; /* Cor rosa para o texto */
  }
  
  /* Estilize o fundo do cabeçalho do site */
  header {
    background-color: #f0f0f0; /* Cor de fundo cinza claro */
    padding: 20px; /* Espaçamento interno para o cabeçalho */
  }
  
  /* Estilize o menu de navegação */
  nav {
    text-align: center;
    margin-top: 20px; /* Espaçamento superior do menu */
  }
  
  /* Estilize os links do menu de navegação */
  nav a {
    text-decoration: none;
    font-weight: bold;
    color: #757575; /* Cor do texto do link */
    margin: 0 20px; /* Espaçamento horizontal entre os links */
  }
  
  /* Estilize o fundo do rodapé do site */
  footer {
    background-color: #000000; /* Cor de fundo preto para o rodapé */
    color: #fff; /* Cor do texto no rodapé */
    padding: 10px; /* Espaçamento interno para o rodapé */
    text-align: center;
  }